[[plugins]]
repo = 'Shougo/deoplete.nvim'
depends = ['context_filetype.vim']
on_event = 'InsertEnter'
hook_post_source = '''
  call denite#custom#var('file_rec', 'command', ['ag', '--follow', '--nocolor', '--nogroup', '-g', ''])
  call denite#custom#var('grep', 'command', ['ag'])
  call denite#custom#var('grep', 'recursive_opts', [])
  call denite#custom#var('grep', 'pattern_opt', [])
  call denite#custom#var('grep', 'default_opts', ['--follow', '--no-group', '--no-color'])
'''

[[plugins]]
repo = 'Shougo/neosnippet.vim'
depends = ['context_filetype.vim', 'neosnippet-snippets']
on_event = 'InsertEnter'

[[plugins]]
repo = 'Shougo/neosnippet-snippets'
depends = ['context_filetype.vim']
on_event = 'InsertEnter'

[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

[[plugins]]
repo = 'derekwyatt/vim-scala'
on_ft = 'scala'

[[plugins]]
repo = 'billyvg/tigris.nvim'
on_ft = ['html', 'javascript', 'javascript.jsx', 'vue']

[[plugins]]
repo = 'othree/yajs.vim'
on_ft = ['html', 'javascript', 'javascript.jsx', 'vue']

[[plugins]]
repo = 'othree/javascript-libraries-syntax.vim'
on_ft = ['html', 'javascript', 'javascript.jsx', 'vue']

[[plugins]]
repo = 'maxmellon/vim-jsx-pretty'
on_ft = ['html', 'javascript', 'javascript.jsx', 'vue']

[[plugins]]
repo = 'posva/vim-vue'
on_ft = ['html', 'javascript', 'javascript.jsx', 'vue']

[[plugins]]
repo = 'leafOfTree/vim-vue-plugin'
on_ft = ['vue']

[[plugins]]
repo = 'w0rp/ale'
on_ft = ['html', 'javascript', 'javascript.jsx', 'vue']

[[plugins]]
repo = 'carlitux/deoplete-ternjs'
on_ft = ['html', 'javascript', 'javascript.jsx', 'vue']

#[[plugins]]
#repo = 'autozimu/LanguageClient-neovim'
#rev = 'next'
#build = 'bash ./install.sh'
