###################################################
# Color Scheme
###################################################
[[plugins]]
repo = 'catppuccin/nvim'
on_event = 'VimEnter'
depends = ['nvim-treesitter']
hook_done_update = ":CatppuccinCompile"
lua_source = '''
  require("catppuccin").setup({
    transparent_background = true,
    term_colors = false,
    styles = {
      comments = { "italic", "bold" },
      functions = { "bold" },
      types = { "bold" },
      keywords = {" bold" },
      strings = { "bold" },
      numbers = { "bold" },
      booleans = { "bold" },
      conditionals = {},
      loops = {},
      properties = {},
      variables = {},
      operators = {},
    },
    integrations = {
      cmp = true,
      gitsigns = true,
      nvimtree = true,
      telescope = true,
      treesitter = true,
      ts_rainbow = true,
      neotree = true,
      lsp_trouble = true,
    },
  })

  vim.g.catppuccin_flavour = "frappe"
  vim.api.nvim_command "colorscheme catppuccin"
'''
hook_source = '''
  " デフォルト設定を上書き
  " ただし、プラグイン用のcolorscheme設定は、各プラグインのhookで行う
  " ここでは、プラグインに依存しないcolorschemeの設定のみ行う

  " 行番号
  highlight LineNr term=none ctermfg=7 ctermbg=none guifg=#ffffff guibg=bg

  " FloatWindow用にNormalFloatグループを設定
  highlight NormalFloat ctermbg=240 guibg=#333333

"  " Visual Mode
"  highlight Visual ctermbg=7  guibg=#686868

  " yank 対象の色を変更するためのグループを設定
  highlight HighlightedyankRegion guifg=#2a2a2a guibg=#ffec80
  augroup highlight_yank
    autocmd!
    au TextYankPost * silent! lua vim.highlight.on_yank{ higroup="HighlightedyankRegion", timeout=700 }
  augroup END
'''

###################################################
# Git
###################################################
[[plugins]]
repo = 'lewis6991/gitsigns.nvim'
on_event = 'VimEnter'
hook_source = '''
  " ハイライトの設定
  highlight GitSignsAdd guifg=#00ff00
  highlight GitSignsAddNr guifg=#00ff00
  highlight GitSignsAddLn guifg=#00ff00
  highlight GitSignsChange guifg=#6495ed
  highlight GitSignsChangeNr guifg=#6495ed
  highlight GitSignsChangeLn guifg=#6495ed

  :command GWD :Gitsigns toggle_word_diff
'''

lua_source = '''
  require('gitsigns').setup{
    signs = {
      change = {
        hl = 'GitSignsChange',
        text = '*',
        numhl='GitSignsChangeNr',
        linehl='GitSignsChangeLn'
      },
    },
    -- ハイライト設定
    signcolumn = true,
    numhl      = true,
    word_diff  = false,
    -- APZelos/blamer.nvim の方が便利
    current_line_blame = false,
  }
'''

[[plugins]]
repo = 'rhysd/committia.vim'
on_event = 'VimEnter'
hook_source = '''
  let g:committia_hooks = {}
  function! g:committia_hooks.edit_open(info)
    " Scroll the diff window from insert mode
    " Map <C-n> and <C-p>
    imap <buffer><C-n> <Plug>(committia-scroll-diff-down-half)
    imap <buffer><C-p> <Plug>(committia-scroll-diff-up-half)
  endfunction
'''

[[plugins]]
repo = 'APZelos/blamer.nvim'
on_event = 'BufEnter'
hook_source = '''
  let g:blamer_enabled = 1
  let g:blamer_delay = 500
  let g:blamer_date_format = '%Y/%m/%d'
  let g:blamer_prefix = '     [blame]  '
  let g:blamer_template = '<commit-short>, <committer>, <committer-time>, <summary>'
'''

###################################################
# 装飾
###################################################
[[plugins]]
repo = 'folke/noice.nvim'
#depends = ['nvim-notify, nui.nvim']
on_event = 'VimEnter'
lua_source = '''
  require("noice").setup {
    popupmenu = {
      enabled = false,
    },
   hacks = {
      -- これがないと、ntpeters/vim-better-whitespace のせいで固まることがある
      skip_duplicate_messages = true,
    },
  }
'''

[[plugins]]
repo = 'rcarriga/nvim-notify'
on_event = 'VimEnter'
lua_source = '''
  require("notify").setup {
    stages = 'static',
  }
'''

[[plugins]]
repo = 'Yggdroot/indentLine'
on_event = 'BufEnter'
hook_source = '''
  set list listchars=tab:\¦\

  let g:indentLine_color_term = 111
  let g:indentLine_color_gui = '#708090'
'''

###################################################
# テキスト編集
###################################################
[[plugins]]
repo = 'ntpeters/vim-better-whitespace'
on_event = 'BufEnter'
hook_source = '''
  " 保存時に末尾の空白を自動的に削除する
  let g:better_whitespace_enabled=1
  let g:strip_whitespace_confirm=0

  " 何かをきっかけに設定が利かなくなったので、保存時に `StripWhitespace` を実行する
  " let g:strip_whitespace_on_save=1
  augroup MyWhiteSpace
    autocmd!
    autocmd BufWritePost * silent StripWhitespace
  augroup END
'''

[[plugins]]
repo = 'tyru/caw.vim'
on_event = 'BufEnter'
hook_source = '''
  " <Leader> is \

  " 行の最初の文字の前にコメント文字をトグル
  nmap <Leader>c <Plug>(caw:hatpos:toggle)
  vmap <Leader>c <Plug>(caw:hatpos:toggle)

  " 行頭にコメントをトグル
  nmap <Leader>, <Plug>(caw:zeropos:toggle)
  vmap <Leader>, <Plug>(caw:zeropos:toggle)
'''

###################################################
# ファイルタイプ判断
###################################################
[[plugins]]
repo = 'Shougo/context_filetype.vim'
on_event = 'BufEnter'

[[plugins]]
repo = 'osyo-manga/vim-precious'
on_event = 'BufEnter'
depends = ['context_filetype.vim']

###################################################
# LSP
###################################################
[[plugins]]
repo = 'Shougo/ddc.vim'
on_event = 'InsertEnter'
hook_source = '''
  " 補完選択時にプレビューウインドウを閉じる
"  autocmd CompleteDone * silent! pclose!
  " 補完選択時にプレビューウインドウが表示されないようにする
  set completeopt-=preview

  " <TAB>: completion.
  inoremap <silent><expr> <TAB>
  \ pumvisible() ? '<C-n>' :
  \ (col('.') <= 1 <Bar><Bar> getline('.')[col('.') - 2] =~# '\s') ?
  \ '<TAB>' : ddc#map#manual_complete()

  " <S-TAB>: completion back.
  inoremap <expr><S-TAB>  pumvisible() ? '<C-p>' : '<C-h>'
  " C-n/C-pで補完候補を選択した時は<C-y>で選択確定しないとauto-importが実行されない
  inoremap <silent><expr> <CR> pumvisible() ? '<C-y>' : '<CR>'

  " バックスペース時に補完を行うための設定。マニュアルにはちらつくからOFFがデフォルトとある。気になるようならこの設定は消す。
  call ddc#custom#patch_global('backspaceCompletion', 'v:true')

  " UI
  call ddc#custom#patch_global('ui', 'native')

  call ddc#custom#patch_global('sources', ['file', 'nvim-lsp', 'around'])
  call ddc#custom#patch_global('sourceOptions', {
       \ '_': {
       \   'matchers': ['matcher_head'],
       \   'sorters': ['sorter_rank'],
       \   'converters': ['converter_remove_overlap'],
       \   'minAutoCompleteLength': 1
       \ },
       \ 'around': {
       \   'mark': 'A',
       \ },
       \ 'file': {
       \   'mark': 'F',
       \   'isVolatile': v:true,
       \   'forceCompletionPattern': '\S/\S*',
       \ },
       \ 'nvim-lsp': {
       \   'mark': 'LSP',
       \   'dup': v:true,
       \   'forceCompletionPattern': '\.\w*|:\w*|->\w*'
       \ },
       \ })

  call ddc#custom#patch_global('sourceParams', {
       \ 'around': {'maxSize': 30},
	     \ 'nvim-lsp': {'maxSize': 500},
       \ })

  call ddc#custom#patch_global('filterParams', {
       \ 'matcher_fuzzy': {'splitMode': 'character'},
       \ 'converter_fuzzy': {'hlGroup': 'SpellBad'}
       \ })

  call ddc#enable()
'''

[[plugins]]
repo = 'Shougo/ddc-ui-native'
on_source = 'ddc.vim'

[[plugins]]
repo = 'LumaKernel/ddc-file'
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-source-around'
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-matcher_head'
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-sorter_rank'
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-converter_remove_overlap'
on_source = 'ddc.vim'

[[plugins]]
repo = 'Shougo/ddc-nvim-lsp'
on_source = 'ddc.vim'

[[plugins]]
repo = 'matsui54/denops-popup-preview.vim'
on_source = 'ddc.vim'
hook_source = '''
  call popup_preview#enable()
'''

[[plugins]]
repo = 'matsui54/denops-signature_help'
on_source = 'ddc.vim'
hook_source = '''
  call signature_help#enable()
'''

[[plugins]]
repo = 'j-hui/fidget.nvim'
on_event = 'VimEnter'
lua_source = '''
  require"fidget".setup{}
'''

[[plugins]]
repo = 'scalameta/nvim-metals'
on_ft = 'scala'
hook_source = '''
  " TVP
  :command TVP  lua require("metals.tvp").toggle_tree_view()
  :command TVPR lua require("metals.tvp").reveal_in_tree()
'''
lua_source = '''
  local cmd = vim.cmd

  local function map(mode, lhs, rhs, opts)
    local options = { noremap = true }
    if opts then
      options = vim.tbl_extend("force", options, opts)
    end
    vim.api.nvim_set_keymap(mode, lhs, rhs, options)
  end

  ------------------------------------------------
  -- global
  ------------------------------------------------
  vim.opt_global.completeopt = { "menu", "noinsert", "noselect" }
  vim.opt_global.shortmess:remove("F"):append("c")

  ------------------------------------------------
  -- LSP mapping
  ------------------------------------------------
  map("n", "gd", "<cmd>lua vim.lsp.buf.definition()<CR>")
  map("n", "gi", "<cmd>lua vim.lsp.buf.implementation()<CR>")
  map("n", "gr", "<cmd>lua vim.lsp.buf.references()<CR>")
  map("n", "K", "<cmd>lua vim.lsp.buf.hover()<CR>")
  map("n", "<C-k>", "<cmd>lua vim.lsp.buf.signature_help()<CR>")
  map("n", "<space>ca", "<cmd>lua vim.lsp.buf.code_action()<CR>")
  map("n", "<space>f", "<cmd>lua vim.lsp.buf.formatting()<CR>")

  ------------------------------------------------
  -- command
  ------------------------------------------------
  cmd([[augroup lsp]])
  cmd([[autocmd!]])
  cmd([[autocmd FileType scala setlocal omnifunc=v:lua.vim.lsp.omnifunc]])
  -- Java のLSPも利用する場合はここがコンフリクトする可能性がある
  cmd([[autocmd FileType java,scala,sbt lua require("metals").initialize_or_attach(metals_config)]])
  cmd([[augroup end]])

  ------------------------------------------------
  -- Metals Settings
  ------------------------------------------------
  metals_config = require("metals").bare_config()

  metals_config.settings = {
    excludedPackages = { "akka.actor.typed.javadsl" },
    showImplicitArguments = true,
    showInferredType = true,
  }
'''

###################################################
# エラー関連
###################################################
[[plugins]]
repo = 'folke/trouble.nvim'
depends = ['nvim-web-devicons']
on_event = 'BufEnter'
hook_add = '''
  nnoremap <S-t><S-t> :<C-u> TroubleToggle workspace_diagnostics<CR>
  nnoremap <S-t><S-d> :<C-u> TroubleToggle document_diagnostics<CR>
  :command TC                TroubleClose
'''
lua_source = '''
  require("trouble").setup {}
'''

###################################################
# シンタクスハイライト関連
###################################################
[[plugins]]
repo = 'p00f/nvim-ts-rainbow'
on_event = 'VimEnter'
depends = ['nvim-treesitter']

[[plugins]]
repo = 'andymass/vim-matchup'
on_event = 'VimEnter'
depends = ['nvim-treesitter']

[[plugins]]
repo = 'nvim-treesitter/nvim-treesitter'
on_event = 'VimEnter'
hook_done_update = ":TSUpdate"
lua_source = '''
  require'nvim-treesitter.configs'.setup {
    ensure_installed = {
      "bash",
      "css",
      "dockerfile",
      "hocon",
      "html",
      "json",
      "lua",
      "php",
      "rust",
      "scala",
      "sql",
      "toml",
      "vim"
    },

    -- Install parsers synchronously (only applied to `ensure_installed`)
    sync_install = false,

    -- Automatically install missing parsers when entering buffer
    auto_install = true,

    highlight = {
      enable = true,
      additional_vim_regex_highlighting = false,
      disable = function(lang, bufnr)
        local filename = vim.api.nvim_buf_get_name(0)
        local is_dein = string.find(filename, ".dein.toml")
        local is_dein_lazy = string.find(filename, ".dein_lazy.toml")

        -- .dein.toml または .dein_lazy.toml では vim-precious を使いたいので、treesitter を有効にしない
        return is_dein ~= nil or is_dein_lazy ~= nil
      end,
    },
    -- p00f/nvim-ts-rainbow
    rainbow = {
      enable = true,
      extended_mode = true,
      max_file_lines = 300,
    },
    -- andymass/vim-matchup
    matchup = {
      enable = true,
    },
  }
'''

# JavaScript
[[plugins]]
repo = 'neovim/node-host'
build = 'npm install'
on_ft = 'javascript'

[[plugins]]
repo = 'billyvg/tigris.nvim'
depends = ['node-host']
build = './install.sh'
on_ft = 'javascript'
hook_add = '''
  let g:tigris#enabled = 1
  let g:tigris#on_the_fly_enabled = 1
  let g:tigris#delay = 300
'''

# TypeScript
[[plugins]]
repo = 'leafgarland/typescript-vim'
on_ft = 'typescript'
