###################################################
# LSP & シンタクスハイライト関連
###################################################
# toml
[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

# Scala
[[plugins]]
repo = 'derekwyatt/vim-scala'
on_ft = 'scala'
hook_add = '''
  au BufRead,BufNewFile *.sbt,*.sc set filetype=scala
'''

# Rust
[[plugins]]
repo = 'rust-lang/rust.vim'
on_ft = 'rust'
hook_add = '''
  let g:rustfmt_autosave = 1
'''

# JavaScript
[[plugins]]
repo = 'neovim/node-host'
build = 'npm install'
on_ft = 'javascript'

[[plugins]]
repo = 'billyvg/tigris.nvim'
depends = ['node-host']
build = './install.sh'
on_ft = 'javascript'
hook_add = '''
  let g:tigris#enabled = 1
  let g:tigris#on_the_fly_enabled = 1
  let g:tigris#delay = 300
'''

# TypeScript
[[plugins]]
repo = 'leafgarland/typescript-vim'
on_ft = 'typescript'

# Dockerfile
[[plugins]]
repo = 'honza/dockerfile.vim'
on_ft = 'Dockerfile'
