" ---------------------------------------
" 設定
" ---------------------------------------
" [検索]
" 大文字と小文字を区別せず検索する
set ignorecase

" インクリメンタルサーチを有効にする
set incsearch

" OSとクリップボードを共有する
"set clipboard=unnamed,autoselect
set clipboard=unnamedplus

" 行頭・行末の左右移動で行を移動する
set whichwrap=b,s,h,l,<,>,[,]

" 相対番号
set relativenumber

" ---------------------------------------
" キーマップ
" ---------------------------------------
" インサートモードから抜ける
inoremap <silent>jj <ESC>

" キー移動
noremap <S-h> ^
noremap <S-j> }
noremap <S-k> {
noremap <S-l> $

" ウィンドウ
nnoremap s <Nop>
nnoremap ss :<C-u>sp<CR>
nnoremap sv :<C-u>vs<CR>
nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap sl <C-w>l
nnoremap sh <C-w>h

"タブ移動
nnoremap sn gt
nnoremap sp gT
nnoremap sq :<C-u>q<CR>

" 検索機能をIDEA純正にする
nnoremap / :<C-u>action Find<CR>

" ---------------------------------------
" プラグイン
" ---------------------------------------
" see: https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree
nnoremap <C-e> :NERDTree<CR>

" see: https://github.com/machakann/vim-highlightedyank
set highlightedyank
let g:highlightedyank_highlight_duration = 500
