# ディレクトリ下のファイルをチェックするまでの待ち時間
scan_timeout = 30

# 出力する情報
format = """
$username\
$hostname\
$kubernetes\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$docker_context\
$helm\
$aws\
$env_var\
$custom\
$directory\
$cmd_duration\
$line_break\
$time\
$character"""

[time]
disabled = false
style = "bright-yellow"
format = "[$time]($style) "

[character]
success_symbol = "[>>>](bold bright-cyan)"
error_symbol = "[>>>](bold bright-red)"

[directory]
truncation_length = 100
format = "[@ $path]($style)[$read_only]($read_only_style) "
style = 'bright-cyan'

[git_branch]
format = "[$symbol$branch]($style) "
style = 'bold purple'

[git_status]
format = '([\[$ahead_behind$conflicted$deleted$renamed$untracked$staged$modified$stashed\]]($style) )'
style = 'white'
conflicted = '### Conflict ###(bright-red)'
deleted = '[ Deleted:$count](bright-red)'
renamed = '[ Renamed:$count"](bright-pink)'
untracked = '[ Untracked:$count](bright-red)'
stashed = '[ Stash:$count](bright-blue)'
modified = '[ Modified:$count](bright-green)'
staged = '[ Staged:$count](bright-yellow)'
ahead = '[⇡](bright-blue)'
behind = '[⇣](bright-yellow)'
diverged = '[⇕](bright-red)'

[username]
style_user = "bright-cyan"
